body{
    background-color: #f3d0e2;
    color: white;
    font-size: 35px;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup__btn{
    padding: 19px 98px;
    background-color: #7A54F5;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 22px;
}

.popup__btn:hover{
    color:cyan;
    border-color: white;
    background-color: #9976F5;
}

.btn {
    margin: 300px 0;
}

.popup.open{
    opacity: 1;
    visibility: visible;
}

.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.popup:target .popup__content{
    opacity: 1;
    transform: translate(0,0);
}

.popup__content{
    background-color: #fff;
    color: black;
    min-width: 370px;
    max-width: 800px;
    padding: 30px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    position: relative;
    transition: all 0.8s ease 0s;
    transform: translate(0px,-100%);
}

.popup__title{
    font-size: 30px;
    margin: 0px 0px 1em 0px;
    text-align: center;
}

.popup__close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 23px;
    color: black;
}

body a:hover{
    text-decoration: none;
    color: black;
}

.form_inp{
    font-size: 29px;
}

label{
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.chek{
    font-size: 20px;
    text-align: center;
}

.inp_name{
    text-align: center;
}

.mes{
    text-align: center;
    
}

textarea{
    resize: none;
    text-align: left;
}